/*
 * CSS specific for Munchie Gobbler
 */
* {
  --blue: #7ebfe9;
  --green: #0d5d39;
  --page-transition: .5s;
  --arrow-fade: .2s;
}

body {
  font-family: 'Architects Daughter', Helvetica, sans-serif;
  font-size: 20px;
}

/*
 * Header
 */
header *, footer * {
  color: var(--green);
}

header h1 {
  font-size: 4em;
  text-shadow: 0 0 10px var(--blue);
  padding-top: 10px;
  margin: auto;
}

/*
 * Navigation Bar
 */
nav {
  background-color: var(--green);
}

nav .menu-level-1 {
  background-color: var(--green);
  color: var(--blue);
  transition: color .5s, background-color .5s;
  border-left: solid var(--blue) thin;
}

nav .menu-level-1:first-of-type {
  border: none;
}

nav .menu-level-1:hover {
  background-color: var(--blue);
  color: var(--green);
}

/*
 * Game Area
 */
main {
  display: grid;
  align-items: stretch;
  grid-template-columns: 150px 500px 150px;
  grid-template-rows: 500px 100px;
  grid-auto-flow: row;
}

aside {
  opacity: 1;
  transition: opacity var(--page-transition);
  border: solid var(--blue) thin;
}

.fade {
  opacity: .4;
}

.left-bar {
  background-color: var(--green);
}

.right-bar {
  background-color: var(--green);
}

.playingField {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  height: 0px;
  width: 500px;
  position: absolute;
  background-color: var(--blue);
  transition: height var(--page-transition);
  box-shadow: 0 0 20px black;
  z-index: 1;
  overflow: hidden;
}

.show {
  height: 500px;
}

.options {}

.instructions {}

h2 {
  font-size: 1.5em;
  padding: 10px 0 0 10px;
}

h3 {
  font-size: 1.25em;
  padding: 5px 10px 0 10px;
}

.instructions>p {
  padding: 5px 10px 15px 20px;
}

button {
  height: 35px;
  width: 75px;
  position: absolute;
  background-color: var(--green);
  color: var(--blue);
  font-family: 'Architects Daughter', Ariel, sans-serif;
  font-size: 1em;
}

.button-1 {
  bottom: 30px;
  right: 25px;
}

.button-2 {
  bottom: 30px;
  right: 125px;
}

.game-board {
  width: 0;
  display: grid;
  grid-auto-flow: row;
  row-gap: 5px;
  column-gap: 5px;
  padding: 5px;
}

.square {
  height: 40px;
  width: 40px;
  border: solid red thin;
  transform: scale(0);
  transition: transform .5s;
}

.munchie, .blob {
  height: 38px;
  width: 38px;
  position: absolute;
  transform: scale(0);
  transition: transform 1s;
}

.blob {
  border-radius: 50%;
  background-color: red;
  animation: grow 1s 1, pulse 1s 1s infinite;
}

.pop-in, .munchie .pop-in {
  transform: scale(1);
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.8);
  }
}

@keyframes pulse {
  0% {
    transform: scale(.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.8);
  }
}

.munchie {
  background-color: blue;
  border-radius: 15%;
  /* animation: dance 2s infinite; */
}

@keyframes dance {
  0% {
    transform: scale(.8);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: scale(.8);
  }
}

.munchie .cupcake {
  background-color: pink;
}

.arrow {
  /* display: block; */
  height: 38px;
  width: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 1.5em;
  color: var(--blue);
  /* animation: fadeIn .2s 1; */
}

.bye {
  animation: fadeOut .2s 1;
}

.flash {
  animation: flashArrow .5s 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes flashArrow {
  0% {
    opacity: 1;
  }

  25% {
    opacity: .25;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: .25;
  }

  100% {
    opacity: 1;
  }
}

.prompt-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/ 4;
  background-color: var(--blue);
}

.prompt {
  display: block;
  color: var(--green);
  text-shadow: 0 0 5px var(--green);
  /* animation: wooshIn 2s 1, nudge 10s 2s infinite; */
}

.prompt-list h1 {
  font-size: 2em;
}

h2 .prompt {
  font-size: 1.4em;
}

.leave {
  transform: scale(0);
  /* transition: transform .5s; */
}

@keyframes wooshIn {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes nudge {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.03);
  }

  20% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

/*
 * Footer
 */
.ga-link:hover * {
  text-shadow: 0 0 2px var(--blue);
}